.section-container {
  width: 81.25rem;
}
.title,
.para {
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@media only screen and (max-width: 1600px) {
  .section-container {
    width: 75rem;
    max-width: calc(100% - 160px);
  }
}
@media only screen and (max-width: 1400px) {
  .section-container {
    width: 56.25rem;
  }
}
@media only screen and (max-width: 900px) {
  .section-container {
    width: 31.25rem;
    max-width: var(--cWidth);
  }
}
